<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <mat-accordion hideToggle="true" class="expansion-panel-styles" multi="false">
    <mat-expansion-panel hideToggle="false" [expanded]="true" [disabled]="true">
      <mat-expansion-panel-header class="width-100">

        <mat-panel-title style="flex:auto" class="width-100">

          <div fxLayout="row wrap" class="width-100" fxLayoutGap="2rem" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row " fxLayoutGap="1rem" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/policies/profile.svg"><label>
                {{page.locales.keys.clients}} - {{caseDetails?.primaryLife?.PersonalDetails.fullName}}</label></div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

          <div fxLayout="row " class="padding-right-26" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="merge-button" color="primary" (click)="mergeRequests()">{{page.locales.keys.merge}}</button></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" class="width-100">
        <table mat-table [dataSource]="page.clientIdArr" *ngIf="page.clientIdArr?.data?.length&gt;0" class="table-width-fix">
          <tr mat-header-row *matHeaderRowDef="[&apos;select&apos;,&apos;clientId&apos;,&apos;fullName&apos;,&apos;dateOfBirth&apos;,&apos;sex&apos;,&apos;pin&apos;,&apos;phone&apos;]"></tr>
          <tr mat-row *matRowDef="let row; columns: [&apos;select&apos;,&apos;clientId&apos;,&apos;fullName&apos;,&apos;dateOfBirth&apos;,&apos;sex&apos;,&apos;pin&apos;,&apos;phone&apos;];"></tr>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="page.selection.hasValue() &amp;&amp; isAllSelected()" [indeterminate]="page.selection.hasValue() &amp;&amp; !isAllSelected()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let table; let i = index;">
              <mat-checkbox (change)="$event ? page.selection.toggle(table) : null;updatePolicies($event, table.clientId)" [checked]="page.selection.isSelected(table)" color="primary" [required]="false" (click)="$event.stopPropagation()" [disableRipple]="true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.clientId}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.clientId}}</td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.fullName}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.fullName}}</td>
          </ng-container>

          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.dob_}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.dateOfBirth}}</td>
          </ng-container>

          <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.gender}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.sex}}</td>
          </ng-container>

          <ng-container matColumnDef="pin">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.pin}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.pin}}</td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>{{page.locales.keys.phno}}</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.phone}}</td>
          </ng-container>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>