<div fxLayout="column " style="margin-top: 1rem;" fxLayoutGap="20px" fxLayoutAlign="start stretch">
  <mat-accordion hideToggle="true" class="expansion-panel-styles">
    <mat-expansion-panel hideToggle="false" [expanded]="true" [disabled]="true">
      <mat-expansion-panel-header>

        <mat-panel-title>

          <div fxLayout="row " fxLayoutGap="1rem" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/CaseDetails/mydecision.svg" alt="mydecision"><label>
              {{page.locales.keys.myDecision}}</label></div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column " fxLayoutGap="20px" fxLayoutAlign="start stretch"><label class="mat-expansion-panel-header-title">
                {{page.locales.keys.verificationDecision}}</label>
              <div fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-button-toggle-group [name]="&apos;mv_decision&apos;" [multiple]="false" [appearance]="&apos;standard&apos;" [(ngModel)]="page.form.decision">

                  <mat-button-toggle value="accept"> {{page.locales.keys.accept}}
                  </mat-button-toggle>

                  <mat-button-toggle value="reject"> {{page.locales.keys.reject}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-form-field [appearance]="&apos;outline&apos;">
                <textarea matInput [(ngModel)]="page.form.comments" placeholder="{{page.locales.keys.comments}}" [required]="false"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div fxLayout="row " style="padding-bottom: 10px;" fxLayoutGap="20px" fxLayoutAlign="end stretch" [fxShow]="true"><button mat-raised-button class="primary-light" (click)="saveAndExit()">{{page.locales.keys.saveExit}}</button><button mat-raised-button class="primary-light" (click)="submit(&apos;submit&apos;)">{{page.locales.keys.submit}}</button></div>
</div>