<form #form="ngForm" class="height-100">
  <div fxLayout="column " class="height-100" fxLayoutAlign="space-between stretch">
    <div fxLayout="column " fxLayoutAlign="start stretch">
      <div fxLayout="row " class="width-100" fxLayoutAlign="start stretch" *ngFor="let f of page.fields">
        <mat-form-field class="width-100" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="{{f.name}}" [required]="false">
          <mat-label>{{f.label}}</mat-label>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row " fxLayoutGap="1rem" fxLayoutAlign="end center"><button mat-button (click)="form.reset()">Clear</button><button mat-button class="white-regular-text highlighted-menu" [disabled]="page.filterForm?.invalid" type="submit">{{page.locales.keys.createFilter}}</button></div>
  </div>
</form>