<mat-card>
  <mat-card-content>
    <div fxLayout="column wrap" style="background: white; border-radius: 6px;" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" *ngIf="investigation_types">
      <div fxLayout="row wrap" class="section-header" fxLayoutGap="1rem" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/CaseDetails/profile.svg">
        <div class="section-title">
          Death Claim Intimation</div>
      </div>
      <div fxLayout="column wrap" style="padding-left: 1em; max-height: 30px ; min-height: 30px; padding-bottom:1rem" fxLayoutGap="1rem" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row " fxLayoutAlign="start start" [fxShow]="true">
          <div fxLayout="column wrap" style="max-height: 30px ; min-height: 30px;" fxFlex="30" fxLayoutAlign="center start" [fxShow]="true">
            <div class="section-content">
              Death Claim Type :</div>
          </div>
          <div fxLayout="column wrap" class="section-content" fxLayoutAlign="center start" [fxShow]="true">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <mat-select placeholder="Claim" [required]="false" (selectionChange)="claimType($event)">
                <ng-template ngFor let-option [ngForOf]="page.claimtype" let-i="index">
                  <mat-option [value]="option">{{option}}</mat-option>
                </ng-template>
              </mat-select>

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row " fxLayoutAlign="start start" [fxShow]="true">
          <div fxLayout="column wrap" style="max-height: 30px ; min-height: 30px;" fxFlex="30" fxLayoutAlign="center start" [fxShow]="true">
            <div class="section-content">
              Documents Required :</div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true" *ngIf="page.documentList">
            <div>
              <mat-list style="padding-top: 0 !important;">
                <mat-list-item style="font-size:12.5px" *ngFor="let doc of page.documentList">
                  {{doc}}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>